<source>
  type forward
  port {{ fluentd_master_server_port }}
</source>
{% for server in nginx_sites %}
{% for k,v in server.iteritems() %}
<match {{ v.server_name }}.access>
  type file
  path /var/log/td-agent/{{ v.server_name }}_access_log
</match>
{% endfor %}
{% endfor %}
