<source>
  type tail
  path {{ kibana_home }}/data/{{ logstash_prefix }}_log
  format ltsv
  pos_file {{ kibana_home }}/data/{{ logstash_prefix }}_log.pos
  tag checkins
</source>
<match checkins>
  type elasticsearch
  host localhost
  port 9200
  type_name ltsv
  logstash_format true
  logstash_prefix {{ logstash_prefix }}
</match>