{% for server in nginx_sites %}
{% for k,v in server.iteritems() %}
<source>
  type tail
  path /var/log/nginx/access.log
  format ltsv
  time_format %d/%b/%Y:%H:%M:%S %z
  tag {{ v.server_name }}.access
  pos_file /var/log/td-agent/nginx.pos
</source>
<match {{ v.server_name }}.access>
  type forward
  buffer_type memory
  buffer_chunk_limit 256m
  buffer_queue_limit 128
  flush_interval 5s
  heartbeat_type tcp
  <server>
    host {{ fluentd_master_server_ip }}
    port {{ fluentd_master_server_port }}
  </server>
</match>
{% endfor %}
{% endfor %}
