#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

[client]
port            = 3306
socket          = {{ mariadb_datadir }}/mysql.sock

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
port            = 3306
socket          = {{ mariadb_datadir }}/mysql.sock
skip-name-resolve
skip-character-set-client-handshake
character-set-server = utf8
lower_case_table_names=1
back_log = 50
max_connections = {{ mariadb_max_connections }}
max_connect_errors = 10
table_cache = 1024
max_allowed_packet = 16M
binlog_cache_size = 1M
max_heap_table_size = 64M
sort_buffer_size = 4M
join_buffer_size = 128K
thread_cache_size = {{ mariadb_max_connections }}
thread_concurrency = 8
query_cache_min_res_unit = 512
query_cache_size = 8M
query_cache_limit = 1M
ft_min_word_len = 4
default-storage-engine = InnoDB
tmp_table_size = 64M
thread_stack = 192K

# logs
slow_query_log=1
long_query_time = 3
log-queries-not-using-indexes
log-slow-admin-statements
slow_query_log_file=/var/log/mysql/mysql-slow.log

log-warnings=1
log-error=/var/log/mysql/mysql-error.log

#*** MyISAM Specific options
key_buffer_size = 32M
read_buffer_size = 2M
read_rnd_buffer_size = 2M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 1G
myisam_repair_threads = 2

# *** INNODB Specific options ***
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_data_file_path = ibdata1:256M:autoextend
innodb_file_per_table
innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 60

server-id={{ mariadb_server_id }}

#
# * Galera-related settings
#
[galera]
# Mandatory settings
wsrep_on = {{ mariadb_wsrep_on }}
wsrep_cluster_name={{ mariadb_wsrep_cluster_name }}
wsrep_cluster_address=gcomm://{{ mariadb_wsrep_cluster_address }}
wsrep_node_address={{ mariadb_wsrep_node_address }}
wsrep_provider='{{ mariadb_wsrep_provider }}'
wsrep_sst_method={{ mariadb_wsrep_sst_method }}
wsrep_slave_threads={{ mariadb_wsrep_slave_threads }}
default_storage_engine={{ mariadb_default_storage_engine }}
binlog_format={{ mariadb_binlog_format }}
innodb_autoinc_lock_mode={{ mariadb_innodb_autoinc_lock_mode }}
innodb_locks_unsafe_for_binlog={{ mariadb_innodb_locks_unsafe_for_binlog }}

#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]