[Unit]
Description=mysqld server
After=network.target

[Service]
PIDFile={{ mariadb_datadir }}/mariadb.pid
ExecStart=/etc/mariadb/mysql.server start
ExecStop=/etc/mariadb/mysql.server stop

[Install]
WantedBy=multi-user.target