global
    maxconn 32000                                    # 最大接続数
    ulimit-n 65536                                   # ulimitを修正
    quiet
    nbproc 5                                         # 起動プロセス数
    uid 500                                          # 動作するUID
    gid 500                                          # 動作するGUI
    chroot /usr/local/share
    log 127.0.0.1 local0 info
listen databases 0.0.0.0:3306
    mode tcp
    rate-limit sessions 100                          # 秒間40セッション
{% for databases in database_haproxy %}
    server {{ databases.name }} {{ databases.ip }}:{{ databases.port }} check inter 1000
{% endfor %}
    contimeout      5000
    clitimeout      20000
    srvtimeout      20000
    balance roundrobin