global
    log 127.0.0.1 local6
    #stats socket 100.66.177.54:8091 user atlassianuser group rms level admin
    #stats timeout 600s
    #stats maxconn 1
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    #tune.ssl.default-dh-param 2048

defaults
    log                     global
    option                  dontlognull
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          60m
    timeout http-keep-alive 10s
    timeout check           10s
    errorfile               408 /dev/null   # Workaround for Chrome 35-36 bug.  See http://bl8-in-chrome/

frontend local_route_http 0.0.0.0:80
    mode http
    option httplog
    option httpchk
    timeout client 15m
{% for frontend in haproxy_frontend %}
{% for k,v in frontend.iteritems() %}
{% if k == 'acl' %}
{% for acl in v %}
    acl {{ acl }}
{% endfor %}
{% elif k == 'use_backend' %}
{% for use_backend in v %}
    use_backend {{ use_backend }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% for backend in haproxy_backend %}
{% for x,y in backend.iteritems() %}

backend {{ y.name }}
{% for param in y.order_params %}
    {{ param }}
{% endfor %}
{% endfor %}
{% endfor %}

listen admin
    mode http
    stats enable
    stats uri /admin
