server {

{% for k,v in item.server.iteritems() %}
{% if k.find('location') == -1 and k != 'file_name' %}
{% if k == 'order_params' %}
{% for order_param in v %}
{{ order_param }};
{% endfor %}
{% else %}
{{ k }} {{ v }};
{% endif %}
{% endif %}
{% endfor %} 

{% for k,v in item.server.iteritems() if k.find('location') != -1 %}
  location {{ v.name }} {
{% for x,y in v.iteritems() if x != 'name' %}
{% if x == 'order_params' %}
{% for order_param in y %}
      {{ order_param }};
{% endfor %}
{% elif x == 'raw_param' %}
{{ y }}
{% else %}
      {{ x }} {{ y }};
{% endif %}
{% endfor %}
  }
{% endfor %}
}
